<div class="row row-form m-12">
  <ng-content></ng-content>
  <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 botoes">
    <button
      (click)="tableLazyLoading()"
      type="button"
      class="btn btn-secondary btn-info btn-size w-100"
      style="color: white"
    >
      <em
        _ngcontent-cfm-c345=""
        class="fas fa-search float-center icons-btn icons-btn"
      ></em
      >Pesquisar
    </button>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 botoes">
    <button
      (click)="limparCampos()"
      type="button"
      class="btn btn-secondary btn-size w-100"
      style="margin-bottom: 0"
    >
      <em
        _ngcontent-cfm-c345=""
        class="fas fa-eraser float-center icons-btn icons-btn"
      ></em
      >Limpar
    </button>
  </div>
</div>
