<ng-template #modalVersoesFormularioComponent class="modal modal-xl fade">
  <div style="width: 1500px !important">
    <div class="modal-header">
      <div class="col text-center">
        <span class="font-title">Versões do Formulário</span>
      </div>
      <div class="col-auto text-end">
        <button title="Fechar" type="button" (click)="close()" style="color: white" class="btn btn-close-modal">
          <i class="fa fa-xl fa-times"></i>
        </button>
      </div>
    </div>

    <div class="modal-body">

      <!-- Tabela -->
      <app-table-shared-form [tableLazyLoadingPai]="tableLazyLoading.bind(this)" [onSortPai]="onSort.bind(this)"
                             [gestaoBase]="gestaoBase" [page]="page" [selecionarFormulario]="selecionarItem.bind(this)"
                             [construirFormulario]="construirformulario.bind(this)" [sobreporMenuAcaoForm]="true"
                             [desabilitarCampos]="desabilitarCampos">
      </app-table-shared-form>
    </div>
  </div>
</ng-template>
