<div class="container-main">
  <!-- Filtros -->
  <div class="header-default">
    <form [formGroup]="gestaoEtpNumercaoFiltroForm">
      <div
        class="row m-0 d-flex w-100 align-middle py-2 listagem-guias-pesquisa"
        style="background-color: #004164; align-items: center; margin-left: 1px"
      >
        <div class="col-sm-12 callout t-18 text-left">
          <span class="font-title">Controle da Numeração</span>
        </div>
      </div>
      <div class="form-group">
        <div class="row row-form m-12">
          <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <label for="anoPesquisa">Ano</label>
            <input
              formControlName="anoPesquisa"
              type="number"
              maxlength="4"
              min="0"
              placeholder="Ex:{{ anoAtual }}"
              id="anoPesquisa"
              class="form-control"
            />
          </div>

          <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <label for="numeroPesquisa">Número</label>
            <input
              formControlName="numeroPesquisa"
              type="number"
              maxlength="999999999"
              min="0"
              placeholder="Nº"
              id="numeroPesquisa"
              class="form-control"
            />
          </div>
          <div class="col-sm-12 col-md-2 col-lg-1 col-xl-1">
            <label for="statusPesquisa">Status</label>
            <select
              class="form-select form-select-lg"
              id="statusPesquisa"
              formControlName="statusPesquisa"
            >
              <option [value]="null" label=" "></option>
              <option *ngFor="let item of statusList" [value]="item.id">
                {{ item.nome }}
              </option>
            </select>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <label for="etpPesquisa">ETP</label>
            <select
              class="form-select form-select-lg"
              id="etpPesquisa"
              formControlName="etpPesquisa"
            >
              <option [value]="null" label=" "></option>
              <option *ngFor="let item of etpList" [value]="item.id">
                {{ item.nome }}
              </option>
            </select>
          </div>

          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 botoes">
            <button
              (click)="tableLazyLoading()"
              type="button"
              class="btn btn-secondary btn-info btn-size w-100"
              style="color: white"
            >
              <em class="fas fa-search float-center icons-btn icons-btn"></em
              >Pesquisar
            </button>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 botoes">
            <button
              (click)="limparCampos()"
              type="button"
              class="btn btn-secondary btn-size w-100"
              style="margin-bottom: 0"
            >
              <em class="fas fa-eraser float-center icons-btn icons-btn"></em
              >Limpar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Header tabela -->
  <div class="header-default respopnsivo-style">
    <div class="row m-0 d-flex w-100 align-middle py-2 header-table">
      <div
        class="col-sm-12 col-md-12 col-lg-12 col-xl-12 callout text-left titulo-table-mobile"
      >
        <div class="row align-items-center">
          <!-- Texto centralizado -->
          <div class="col text-center">
            <span class="font-title">Numerações</span>
          </div>

          <!-- Botão alinhado à direita -->
          <div class="col-auto text-end">
            <button
              noDoubleClick
              style="width: 35%; min-width: 100px"
              title="Novo"
              type="button"
              class="btn btn-success success-btn-color"
              (click)="cadastrarEtpNumeracao()"
            >
              <em
                class="fa fa-lg fa-plus float-center pt-1 pr-1 icons-btn"
                style="font-size: 15px"
              ></em>
              <span style="font-size: 15px">Novo</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabela -->
    <app-table
      #table
      height="550px"
      paginationClass="d-flex justify-content-end"
      tableClass="table table-hover table-striped table-bordered"
      [responsive]="false"
      [pagination]="true"
      [paginationTop]="false"
      [page]="page"
      [scrollable]="false"
      [paginationSelection]="true"
      paginationPrevious="<"
      paginationNext=">"
      (lazyLoad)="tableLazyLoading()"
    >
      <div empty>Nenhum registro foi encontrado</div>
      <thead header>
        <th
          sortable="etpNumeracao.id"
          (sort)="onSort($event)"
          class="text-left"
        >
          ID
        </th>
        <th
          sortable="etpNumeracao.ano"
          (sort)="onSort($event)"
          class="text-left"
        >
          Ano
        </th>
        <th
          sortable="etpNumeracao.ultimaNumeracao"
          (sort)="onSort($event)"
          class="text-left"
        >
          Número
        </th>
        <th
          sortable="etpNumeracao.status"
          (sort)="onSort($event)"
          class="text-left"
        >
          Status
        </th>
        <th
          sortable="etpNumeracao.etp.id"
          (sort)="onSort($event)"
          class="text-left"
        >
          ETP
        </th>
        <th class="text-left">Modificado</th>
        <th class="text-left">Usuário</th>
        <th class="text-left">Ações</th>
      </thead>
      <tbody body>
        <ng-container *ngFor="let item of page?.content; let i = index">
          <tr>
            <td class="text-left">
              {{ item.idNumeracaoEtp }}
            </td>
            <td class="text-left">
              {{ item.ano }}
            </td>
            <td class="text-left">
              {{ item.ultimaNumeracao }}
            </td>
            <td class="text-left">
              {{ monstarStatus(item) }}
            </td>
            <td class="text-left">
              {{ montarNomeEtp(item) }}
            </td>
            <td class="text-left">
              {{ getDataModificacao(item) }}
            </td>
            <td class="text-left">
              {{ getUsuarioModificacao(item) }}
            </td>
            <td style="font-weight: unset" class="text-left pe-3">
              <button
                (click)="editarEtpNumeracao(item)"
                *ngIf="acaoPermitida(item, 'EDITAR')"
                style="border: none"
                class="btn btn-ligth p-0 me-1 cursor-pointer"
                ngbTooltip="Alterar"
                noDoubleClick
              >
                <em class="fa-solid fa-file-pen"></em>
              </button>
              <button
                (click)="excluirEtpNumeracao(item)"
                *ngIf="acaoPermitida(item, 'EXCLUIR')"
                noDoubleClick
                style="border: none"
                class="btn btn-ligth p-0 me-1"
                ngbTooltip="Excluir"
              >
                <em class="fa-solid fa-trash"></em>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </app-table>
  </div>
</div>
<modal-cadastrar-etp-numeracao
  #cadastrar_etp_numeracao
  (cadastrarEtpNumeracao)="gravarEtpNumeracao($event)"
></modal-cadastrar-etp-numeracao>
