<div class="modal-body">
  <div class="header-default respopnsivo-style">
    <div class="row m-0 d-flex w-100 align-middle py-2 header-table">
      <div
        class="col-sm-12 col-md-12 col-lg-12 col-xl-12 callout text-left titulo-table-mobile"
      >
        <div class="row align-items-center">
          <!-- Texto centralizado -->
          <div class="col text-center">
            <span class="font-title">{{ titulo }}</span>
          </div>
        </div>
      </div>
    </div>
    <app-table
      #table
      height="550px"
      paginationClass="d-flex justify-content-end"
      tableClass="table table-hover table-striped table-bordered"
      [responsive]="false"
      [pagination]="true"
      [paginationTop]="false"
      [page]="pageEtpBloqueados"
      [scrollable]="false"
      [paginationSelection]="true"
      paginationPrevious="<"
      paginationNext=">"
      (lazyLoad)="tableLazyLoading($event)"
    >
      <div *ngIf="this.etpList.length == 0">Nenhum registro foi encontrado</div>
      <thead header>
        <th class="text-left">ID</th>
        <th class="text-left">Descrição</th>
        <th class="text-left">Situação</th>
        <th class="text-left">Versão</th>
        <th class="text-left">Bloqueado Por</th>
        <th class="text-left">Data Bloqueio</th>
        <th class="text-left">Motivo Versionamento</th>
        <th class="text-left">Modificado</th>
        <th class="text-left">Ações</th>
      </thead>
      <tbody body>
        <ng-container
          *ngFor="let itemEtp of pageEtpBloqueados?.content; let i = index"
        >
          <tr>
            <td class="text-left">
              {{ itemEtp.id }}
            </td>

            <td class="text-left" title="{{ itemEtp.descricao }}">
              {{ itemEtp.descricao }}
            </td>
            <td class="text-left">
              {{ itemEtp.situacao.descricao }}
            </td>
            <td class="text-left">
              {{ itemEtp.versao }}
            </td>
            <td class="text-left">
              {{ itemEtp.bloqueadoPor }}
            </td>
            <td class="text-left">
              {{ itemEtp.dataBloqueio }}
            </td>
            <td
              class="text-left motivo"
              title="{{ itemEtp.dsMotivoVersionamento }} {{
                itemEtp.dtVersionamento
              }} {{ itemEtp.cdUsuarioVersionamento }}"
            >
              {{ itemEtp.dsMotivoVersionamento }}
              {{ itemEtp.dtVersionamento }}
              {{ itemEtp.cdUsuarioVersionamento }}
            </td>
            <td class="text-left">
              {{ gestaoBase.getDataModificacao(itemEtp) }}
              {{ gestaoBase.getUsuarioModificacao(itemEtp) }}
            </td>
            <td class="text-left">
              <button
                (click)="desbloquearEtp(itemEtp.id)"
                class="btn btn-ligth p-0 me-1"
                ngbTooltip="Desbloquear ETP"
              >
                <em class="fa fa-solid fa-unlock"></em>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </app-table>
  </div>
</div>
